{% autoescape off %} 
Hi {{user.username}} 
We hope this email finds you well. We
are thrilled to inform you that your recent order with Infy Cart has been
successfully placed! with order id {{orderid}} Thank you for choosing us for your needs If you have any
questions or concerns regarding your order, please feel free to contact our
customer support team at [Customer Support Email/Phone Number]. We would like to
express our sincere appreciation for choosing Infy Cart. We are committed to
ensuring that your order is processed promptly and delivered to you with the
utmost care. Thank you for being a valued customer, and we look forward to
serving you again in the future. 
Best regards, 
Infy Cart
Email:InfyCart101@gmail.com 
{%endautoescape %}
